.orderListWrapper {
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    align-items: center;
    padding: 5px 5px;
}
.header h3 {
    margin-top: 10px;
    font-weight: bold;
}

.headerData {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    border-bottom: 1px solid #f0f0f0;
}

.headerData h3 {
    margin-top: 10px;
}

.Btn {
    font-size: 16px;
    padding: 2px;
    background-color: var(--eggPlant);
    color: white;
    width: 80px;
    text-align: center;
    border-radius: 4px;
}

.Btn:hover {
    cursor: pointer;
    background-color: var(--iris);
}

@media (max-width: 550px) {
    .header {
        flex-direction: column;
        width: 30%;
    }
    .headerData {
        flex-direction: column;

        background-color: whitesmoke;
        text-align: center;
        height: 300px;
    }
    .headerDataWrap {
        width: 70%;
        height: 300px;
    }
    .orderListWrapper {
        display: flex;
    }
}
