.cartItem {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  padding: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 20px 0;
  position: relative;
}
.cartItem img {
  width: 100%;
}
.itemName {
  font-weight: bold;
}
.dltBtn {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: rgb(202, 60, 60);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.dltBtn svg {
  color: #fff;
  font-size: 16px;
}

.flavor {
  color: #5a4fcf !important;
  margin: 8px 0 !important;
}
